export DOMAIN=luby.ml
export BUCKET_NAME=kops-state-store.${DOMAIN}
export BUCKET_PATH=s3://${BUCKET_NAME}
export KOPS_STATE_STORE=${BUCKET_PATH}
export EMAIL_SSH=joao.tartaglia@luby.software
export SSH_KEY_FILE=~/.ssh/id_rsa.pub
